@import url("https://fonts.googleapis.com/css2?family=Playwrite+CZ:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Playwrite+CZ:wght@100..400&display=swap");

body {
  margin: 0;
  font-family: "Archivo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #63474d;
  color: #f9dec9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #4e383d;
  padding: 15px 30px;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  font-size: 30px;
  font-family: "Playwrite CZ";
  font-weight: 500;
  user-select: none;
}

.placeholder {
  font-size: 35px;
  display: block;
}

.search-container input {
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #f9dec9;
  background-color: #4e383d;
  color: #f9dec9;
}

.search-container button {
  font-size: 20px;
  background-color: #a9927d;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.3s ease;
}

.search-container button:hover {
  background-color: #caae94;
}

.search-container {
  display: flex;
  gap: 10px;
}

span {
  font-size: 40px;
}

.recipe-card {
  border: 2px solid #f9dec9;
  border-radius: 15px;
  width: 300px;
  background-color: #4e383d;
  overflow: hidden;
  margin: 0; /* Ensure no margin around the card */
  padding: 0; /* Ensure no padding inside the card */
  height: 320px;
  transition: 0.3s ease;
}

.recipe-card img {
  width: 100%;
  height: auto; /* Ensures proper scaling */
  /* object-fit: cover; */
  margin: 0; /* Remove any margin */
  border: none; /* Remove any border that could create a white line */
  overflow: auto;
}

.results {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Adjust this value to set the gap between items */
  justify-items: center;
  align-items: center;
  padding: 20px;
}

.recipe-card:hover {
  scale: 1.03;
}

.selected-recipe {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f9dec9;
  border-radius: 8px;
  color: #f9dec9;
  padding: 24px;
  max-width: 800px; /* Increased width */
  margin: auto;
  background-color: #4e383d;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
}

.selected-recipe img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.selected-recipe h2 {
  margin: 16px 0;
  color: #f9dec9;
  text-align: center;
}

.selected-recipe p,
.selected-recipe li {
  margin: 8px 0;
  color: #f9dec9;
}

.selected-recipe .summary,
.selected-recipe .instructions {
  font-size: 0.95rem;
  color: #f9dec9;
  text-align: justify;
  line-height: 1.5;
}

.selected-recipe ul {
  list-style-type: none;
  margin-left: 20px;
  margin-top: 5px;
}

.selected-recipe ul,
.selected-recipe h3,
.selected-recipe,
.cuisine-time,
.cooking-time {
  text-align: left;
  padding-left: 20px;
  width: 100%;
}

.selected-recipe h3 {
  margin-top: 20px;
  margin-bottom: 8px;
  color: #f9dec9;
}

.selected-recipe button {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
}

a {
  color: white;
  text-decoration: none;
}

.selected-recipe button:hover {
  background-color: #ff1a1a;
}
